body {
  background: #F5F3EE;
  margin: 0;
  padding: 0;
}

.links {
  width: 500px;
  position: fixed;
  top: 10px;
  left: 20px;
  font-family: 'Times', sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
}

h1 {
  background: #7D1935;
  color: #FFFFFF;
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  width: 100%;
}

.text {
  color: #513535;
  margin: 30px;
  padding: 0px;
  font-size: 110%;
}

.image {
    width: 310px;
    height: 210px;
    border: 1px solid silver;
    position: fixed;
    top: 165px;
    right: 110px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
}
/* Table */

table {
  height: 20%;
  left: 10%;
  margin: 40px auto;
  overflow-y: scroll;
  position: relative;
  width: 50%;
}

thead th {
  background: #4A96AD;
  color: #FFF;
  font-family: 'Lato',
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppe
  width: 30 px;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px s
  margin-bottom: 5px;
  width: 30 px;
}

th, td {
  font-family: 'Lato',
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  width: 30px;
}

/* Stock */

#back-button {
  width: 300px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* search box*/

#search-form_3 {
  background: rgba(74, 150, 173, 0.7);
  border: 1px solid #4A96AD ;
  border-radius: 4px;
  width: 350px;
  margin: 30px 0px 30px 50px;
}

.search_text {
  font-size: 22px;
  height: 30px;
  width: 250px;
}

.submit_btn {
  position: relative;
  border: 1px solid #4A96AD;
  border-radius: 4px;
  height: 35px;
  width: 25%;
  text-align: center;
  vertical-align:center;
}